$icons: (
	  sprite: (width: 65.52px, height: 66px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
 	icon-arrow-red: (width: 45.519999999999996px, height: 45.519999999999996px, backgroundX: 0px, backgroundY: 0px),
);
